.format-main {
  @apply grid grid-cols-[1fr_4fr_1fr_1fr_1fr_1fr] gap-3 w-full p-[20px_0px] text-sm font-medium
  max-xl:grid-cols-[1fr_6fr_1fr_1fr_1fr_1fr] max-xl:gap-5 max-xl:py-4 max-xl:text-base
  max-md:text-xs max-md:gap-3 max-md:py-3
  max-sm:grid-cols-[1fr_6fr_1fr];
}

// max-md:p-[15px_0px] max-md:text-xs;

.allProduct {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
